body {
    display: inline-block;
    margin: 0;
}
main {
    float: left;
    width: 100%;
}
.container {
    float: left;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}

.row {
    float: left;
    width: 1000px;
    margin-left: calc(50% - 500px);
}
.row-short {
    float: left;
    width: 600px;
    margin-left: calc(50% - 300px);
}

.main-content {
    display: flex;
    justify-content: space-between;
}
.left-column {
    width: 50%;
}
.right-column {
    width: 40%;
}

/* min-width */
/* width */
/* max-width */

@media (max-width: 1100px) {
    .row {
        width: 800px;
        margin-left: calc(50% - 400px);
    }
}

@media (max-width: 900px) {
    .row {
        width: 600px;
        margin-left: calc(50% - 300px);
    }
    .main-content {
        flex-direction: column;
        gap: 60px;
    }
    .right-column,
    .left-column {
        width: 100%;
    }
}

@media (max-width: 700px) {
    .row,
    .row-short {
        width: 400px;
        margin-left: calc(50% - 200px);
    }
}

@media (max-width: 460px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .row,
    .row-short {
        width: 100%;
        margin-left: 0;
    }
}