.hero {
    min-height: 100vh;
    text-align: center;
}
.hero > .row-short {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.logo {
    height: 40px;
    margin-bottom: 30px;
    object-fit: contain;
}
.main-title {
    font-size: 80px;
}
.main-description {
    font-size: 20px;
    color: #555;
}
.clock {
    margin-top: 30px;
    margin-bottom: 30px;
}

.left-column,
.right-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.section-title {
    text-transform: uppercase;
    font-size: 20px;
}
.section-description {
    font-size: 18px;
    color: #555;
}
.section-description > a {
    color: var(--secondary-color);
    text-decoration: none;
}
.section-description > a:hover {
    text-decoration: underline;
}